# Versión del archivo de Docker Compose
version: '3.8'

# Aquí definimos todos los servicios (contenedores) que necesita la aplicación
services:

  # --- 1. El Servicio de Base de Datos (MySQL) ---
  #  Crear BBDD (MySQL)
  db-tiendas:
    image: mysql:8.0
    container_name: nutricionista-mysql
    restart: always
    environment:
      # Define las credenciales para la base de datos
      # !! CAMBIA ESTA CONTRASEÑA por una segura
      MYSQL_ROOT_PASSWORD: password_segura 
      MYSQL_DATABASE: precios_comparados
    ports:
      # Expone el puerto de MySQL a tu máquina local (para que puedas conectarte
      # con una herramienta gráfica si quieres)
      - "3306:3306"
    volumes:
      # Esto asegura que los datos de tu base de datos se guarden
      # aunque apagues y enciendas los contenedores.
      - db_data:/var/lib/mysql




  # --- 2. El Servicio de ETL (Scraping y Limpieza) ---
  # Usa el código de tu carpeta 'etl-scripts'
  etl-scripts:
    build:
      # Le dice a Docker que busque un 'Dockerfile' en esta carpeta
      context: ./etl-scripts 
    container_name: etl-pipeline
    environment:
      # Pasa las credenciales de la DB al contenedor para que pueda conectarse
      # IMPORTANTE: El 'host' es el nombre del servicio de la DB ('db-tiendas')
      DB_HOST: db-tiendas 
      DB_NAME: precios_comparados
      DB_USER: root
      DB_PASS: password_segura # !! USA LA MISMA CONTRASEÑA
      QDRANT_HOST: vector-db
    depends_on:
      # Le dice a Docker que espere a que la BBDD esté lista antes de iniciar este
      - db-tiendas 

    volumes:
      # MAPEAMOS la carpeta LOCAL ./export a la carpeta /app/export dentro del contenedor
      - ./export:/app/export
    env_file:
      - .env





# --- 3. El Servicio de Backend (Lógica de la App y IA) ---
  backend-logica:
    build:
      context: ./backend_logica
    container_name: backend-mvp
    ports:
      - "8001:8000"
    env_file:                     # <--- NUEVO: El pase VIP para el Chef (Lee el .env)
      - ./backend_logica/.env
    environment:
      DB_HOST: db-tiendas
      DB_NAME: precios_comparados
      DB_USER: root
      DB_PASS: password_segura
      QDRANT_HOST: vector-db
    depends_on:
      - db-tiendas
    volumes:
      - ./backend_logica:/app  # Conecta tu carpeta local con la del contenedor
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload



# --- 4. El Servicio de Frontend ---
  frontend-logica:
    build:
      context: ./frontend_logica
    container_name: frontend-mvp
    ports:
      - "3000:80"
    volumes:                            
      - ./frontend_logica:/var/www/html   
    depends_on:
      - backend-logica




  # --- 5. Base de Datos Vectorial (Qdrant) ---
  # Este es el cerebro semántico para búsquedas tipo "comida sana"
  vector-db:
    image: qdrant/qdrant
    container_name: nutricionista-qdrant
    restart: always
    ports:
      - "6333:6333" # Puerto para la API y el Dashboard
    volumes:
      - qdrant_data:/qdrant/storage






# Definimos el 'volumen' que usará la DB para guardar los datos
volumes:
  db_data:
  qdrant_data: